<div class="page1">
  <div class="page2">

    <div *ngIf="!authorized">

      <div class="switch">

        <div id="switch1" (click)="loginPage()">
          <span>Login</span>
        </div>

        <div id="switch2" (click)="registrationPage()">
          <span>Registration</span>
        </div>

      </div>

      <div class="form" *ngIf="logged">
        <form (ngSubmit)="login()">
          <div class="mail">
            <label>
              Enter e-mail or username:
              <input type="text" placeholder="e-mail" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}">
            </label>
          </div>
          <div class="password1">
            <label>
              Enter password:
              <input type="password" placeholder="password" [(ngModel)]="password1" [ngModelOptions]="{standalone: true}">
            </label>
          </div>
          <div class="submit">
            <button (click)="login()">Submit</button>
          </div>
        </form>
      </div>

      <div class="form" *ngIf="!logged">
        <form (ngSubmit)="register()">
          <div class="mail">
            <label>
              Enter e-mail or username:
              <input type="text" placeholder="e-mail" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}">
            </label>
          </div>
          <div class="password1">
            <label>
              Enter password:
              <input type="password" placeholder="password" [(ngModel)]="password1" [ngModelOptions]="{standalone: true}">
            </label>
          </div>
          <div class="password2">
            <label>
              Enter password again:
              <input type="password" placeholder="password" [(ngModel)]="password2" [ngModelOptions]="{standalone: true}">
            </label>
          </div>
          <div class="submit" (click)="register()">
            <button>Submit</button>
          </div>
        </form>
      </div>
    </div>


    <div class="form" *ngIf="authorized">
      <p>
        You are already signed, if you want to log out press the button below
      </p>
      <div class="submit" (click)="logOut()">
        <button>Log out</button>
      </div>
    </div>

  </div>
</div>
