<div *ngIf="selectedCategoryBooks">
  <div class="flex">
    <div *ngFor="let book of selectedCategoryBooks">
      <div class="item">
        <div class="image">
          <img [src]=book.image alt="image">
        </div>
        <div class="right">
          <div class="title">
            <p>{{book.title}}</p>
          </div>
          <div class="description">
            <p>{{book.description}}</p>
          </div>
        </div>
        <div class="more-button">
          <a routerLink="{{book.isbn}}">
            <button>more...</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
