a {
  text-decoration: none;
  color: black;
}
img {
  height: 200px;
}
.flex {
  padding: 30px 0;
  display: block;
}
.item {
  position: relative;
  height: 260px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.65);
  border-radius: 7px;
  border: 5px white groove;
  overflow: visible;
  text-overflow: ellipsis;
}
.image {
  position: absolute;
  display: flex;
  padding-top: 30px;
  padding-left: 50px;
}
.right{
  position: absolute;
  height: 200px;
  padding-left: 300px;
  padding-right: 150px;
  text-overflow: ellipsis;
}
.more-button {
  position: absolute;
  padding: 200px 0 75px 1300px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.description{
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
}
button {
  background-color: rgba(255,255,255,0.65);
  border-radius: 7px;
  border: 5px white groove;
  color: red;
  font-size: 14px;
  width: 90px;
  line-height: 25px;
  cursor: pointer;
}
