.grid-container {
  display: grid;
  border-radius: 7px;
  grid-gap: 30px;
  margin: 30px 0 30px;
  padding: 0 5px;
}
.grid-container  div {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 7px;
  border: 5px white groove;
  padding: 25px ;
  font-size: 30px;
  vertical-align: middle;
}
#title {
  grid-column-start: 2;
  grid-column-end: 6;
  padding: 0;
  position: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}
#description {
  padding-top: 0;
  min-height: 350px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: justify;
}
.image {
  height: 600px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.details {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
}
#buttons{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  padding-top: 120px;
  padding-right: 0;
  padding-left: 0;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}
#button1, #button2{
  cursor: pointer;
  padding-right: 0;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 7px;
  border: 5px white groove;
  width: 120px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

