<div *ngIf="book">
  <div class="grid-container">
    <div id="title">
      <p>{{book.title}}</p>
    </div>
    <div id="description">
      <p class="fun-hover">{{book.description}}</p>
    </div>
    <div class="image">
      <img [src]="book.image" alt="book's image">
    </div>
    <div class = "details">
      <p>
        ISBN: {{book.isbn}}<br>
        Publisher: {{book.publisher}}<br>
        Author: {{book.author}}<br>
        Genre: {{book.genre}}<br>
        Year: {{book.year}}<br>
        Pages: {{book.pages}}<br>
      </p>
    </div>
    <div id = "buttons">
      <a href="{{book.book}}">
        <button id="button1">OPEN</button>
      </a>
      <br>
      <button id="button2" (click)="addBook(book.id)">ADD</button>
    </div>
  </div>
</div>
